body {
    background-color: white;
    color: black;
    font-family: 'Roboto';
}

.content-container {
    margin: 50px auto;
    max-width: 1200px;
}

.text-content {
    font-size: 18px;
    line-height: 1.6;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.text-content {
    text-align: center;

}

.text-content p {
    text-align: left;
}

.image-content {
    text-align: center;
}

.background {
    background-color: rgba(204, 202, 202, 0.39);
}

#MembershipCard1 {
    border-radius: 0;
}

#MembershipCard2 {
    border-radius: 0;


}

#MembershipCard3 {
    border-radius: 0;

}

.card-body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.199);
}

.card {
    box-shadow: none;
}

#membershipTittle h2 {

    font-weight: bold;
    size: 40px;
}

.card {
    list-style-type: none;
}

.card li {

    margin-bottom: 15px;
}

.card-body1 p {
    text-align: center;
    color: rgba(0, 0, 0, 0.788);
    font-weight: bold;
}

.card-body1 h5 {
    padding: 15px;

    color: orange;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
}

.list-unstyled {

    justify-content: center;
}

.prove {
    background-color: rgba(128, 128, 128, 0.103);
}

.btn-primary {
    background-color: orange;
}

.text-content h1 {

    font-weight: bold;
    font-size: 60px;
}

.text-content {
    text-align: left;
    padding-left: 20px;
    margin: 0;
}

.text-content h1,
.text-content h2,
.text-content p {
    margin-left: 0;
    text-indent: 0;
}