body {
    background-color: white;
    color: black;
    font-family: 'Roboto';
}

.mt-5 h2{
    font-size: 60px;
    font-weight: bold;
    padding: 50px;
    font-family:'Roboto';
}
.mt-5{
max-width: 600px;
align-items: center;
}
.mt-5 button{
    border-radius: 0;
    
}
#registerButton{
border-radius: 0; 
background-color: orange;

}